<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{SignUp}}</title>
    <link rel="stylesheet" href="/../styles/form.css">
    <link rel="stylesheet" href="/../styles/signup.css">
</head>
<body>
    
    <div class="bubbles">
        <span class="one"><p></p></span>
        <span class="two"></span>
        <span class="three"></span>
        <span class="four"></span>
        <span class="five"></span>
        <span class="six"></span>
        <span class="seven"></span>
        <span class="seven"></span>
    </div>
    
    <div class="bubbles">
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
        <span class="four"></span>
        <span class="five"></span>
        <span class="six"></span>
        <span class="seven"></span>
        <span class="seven"></span>
    </div>

    <div class="bubbles">
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
        <span class="four"></span>
        <span class="five"></span>
        <span class="six"></span>
        <span class="seven"></span>
        <span class="seven"></span>
    </div>

    <div class="bubbles">
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
        <span class="four"></span>
        <span class="five"></span>
        <span class="six"></span>
        <span class="seven"></span>
        <span class="seven"></span>
    </div>

    <section class="boxing">
      <div class="form signup">
        <header>Sign Up</header>
        <form action="/signup" method="POST" class="theform">
          <input type="text" placeholder="Full name" name="name" required/>
          <input type="email" placeholder="Email address" name="email" required />
          <input type="password" placeholder="Password" name="password" required />
          <input type="password" placeholder="Confirm Password" required />
          <div class="profilephoto">
            <label for="profileImage">Upload dp</label>
            <input type="file" name="pic" id="profileImage" accept="image/png, image/jpeg" >
          </div>
          <input type="submit" value="Sign Up" id="singupbtn"/>
        </form>
      </div>

    </section>
    <script src="/../script/form.js"></script>
</body>
</html>